<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.7.2/animate.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.css" />
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>

        <title>Document</title>
    </head>
    <body>
        <style>
            .content {
                max-width: 800px;
                margin: auto;
                padding: 80px 80px;
            }
            .site-tabs {
                margin-bottom: 20px;
                user-select: none;
            }
            .site-tab {
                display: inline-block;
                height: 40px;
                border: 2px solid #3d778c;
                border-radius: 20px;
                color: #3d778c;
                font-weight: 400;
                padding: 6px 20px;
                text-align: center;
                margin-right: 10px;
                margin-bottom: 10px;
                cursor: pointer;
            }

            .site-tab-selected {
                background: #3d778c;
                color: #fff;
                transition: all ease 0.2s;
            }

            .post-card-image-text {
                position: absolute;
                align-items: center;
                padding: 10px;
                top: 50%;
                margin: auto;
                width: 100%;
                text-align: center;
                text-shadow: 1px 0 8px rgba(0, 0, 0, 0.7);
                color: white;
                opacity: 0;
                transition: 0.5s ease;
                transform: translateY(-50%);
            }
            .post-card-image-title {
                font-size: 26px;
                font-weight: 400;
            }
            .post-card-image-text p {
                font-size: 18px;
            }
            .post-card-image-text hr {
                margin: 0.5em;
                color: #fff;
                border-top: 1px solid #fff;
            }
            .post-card-image-link {
                position: relative;
                overflow: hidden;
                width: 100%;
                display: block;
                border-radius: 12px;
                -webkit-mask-image: -webkit-radial-gradient(white, black);
            }
            .post-card-image-link img {
                vertical-align: middle;
                max-width: 100%;
                transition: all ease-out 0.2s;
            }

            .post-card-image-link:hover img {
                transform: scale(1.2);
                filter: brightness(50%);
            }

            .post-card-image-link:hover .post-card-image-text {
                opacity: 1;
            }
            .flip-list-move {
                transition: all 0.2s ease-out;
            }
            .flip-list-enter-active,
            .flip-list-leave-active {
                transition: all 0.2s ease-out;
            }
            .flip-list-enter,
            .flip-list-leave-to {
                opacity: 0;
                transform: scale(0.5);
                transition: all 0.2s ease-out;
            }
        </style>
        <p>source code:</p>
        <a href="https://gitlab.com/ruofenglei/prgui" target="_blank">https://gitlab.com/ruofenglei/prgui</a>
        <div class="content" id="demo">
            <div class="site-tabs">
                <div
                    v-for="(v,tab) in tabs"
                    class="site-tab"
                    v-on:click="selectTab(tab)"
                    v-bind:class="{'site-tab-selected': v}"
                >
                    {{ tab }}
                </div>
            </div>
            <div id="site-main" class="site-main outer">
                <!-- transition-group 为Vue自带的动画过渡效果，其中name=flip-list是其中一种效果，在这个group下有元素的插入或删除或顺序变化都会有相应的过渡动画  -->
                <transition-group name="flip-list" class="index-posts columns is-multiline" tag="div">
                    <!-- v-for 渲染所有的cards，注意这里是activeCards为vue实例中computed下的值而不是直接全部cards，它是实时计算的，计算逻辑见app2.js中代码-->
                    <article v-for="card in activeCards" class="column is-half post-card" v-bind:key="card.title">
                        <a class="post-card-image-link" href="#">
                            <img :src="card.image" />
                            <div class="post-card-image-text">
                                <div class="post-card-image-title">{{ card.title }}</div>
                                <hr />
                                <p>{{ card.description }}</p>
                            </div>
                        </a>
                        <section class="post-card-tags" style="display: none">
                            <ul>
                                <li v-for="tag in card.keywords">{{ tag }}</li>
                            </ul>
                        </section>
                    </article>
                </transition-group>
            </div>
        </div>
        <script src="app2.js"></script>
    </body>
</html>
